main{
    text-align: center;
    height: 100vh;
    position: relative;
}
.image-container{
    position: relative;
}
.profile-image{
   width: pxToRem(254px) ;
   margin-top: pxToRem(54px);
   border-radius: pxToRem(10px);
   position: relative;
   z-index: 1;
   margin-inline: auto;
}

.background-profile{
    width: pxToRem(327px);
    position: absolute;
    margin: auto;
    top: pxToRem(-6px);
    left: 0;
    right: 0;
    bottom: 0;
}

.content-container{
    margin-top: pxToRem(80px);
    position: relative;
}
.quote{
    width: pxToRem(60px) ;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
}

.content-quote{
    font-size: pxToRem(18px);
    font-weight: 300;
    line-height: pxToRem(24px);
    margin-inline: pxToRem(32px);
    margin-bottom: pxToRem(18px);
    font-weight: 300;
    color: $Dark-Blue;
}

.content-name{
    font-size: pxToRem(15px);
    font-weight: 700;
}

.content-title{
    font-size: pxToRem(15px);
    font-weight: 500;
    color: $Grayish-Blue;
    display: block;
}

.curve{
    position:absolute;
    left: 0;
    bottom: 0;
    height: pxToRem(72px);
}

